body{
  background-image: url("https://images.pexels.com/photos/235985/pexels-photo-235985.jpeg?cs=srgb&dl=pexels-pixabay-235985.jpg&fm=jpg");
  background-position: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

@media(min-width:0px) and (max-width:480px){
  .b{
    width: 96%;
    margin-left: 2%;
  }
  .c{
    font-size: 1rem;
  }
  .r{
    font-size: 0.75rem;
  }
}

@media(min-width:481px) and (max-width:768px){
   .b{
    width: 75%;
    margin-left: 13%;
   }
}
@media(min-width:769px) and (max-width:2000px){
  .a{
    display: flex;
  }
}

h1{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-style: italic;
  color:indigo;
}